<div class="centered">
<h1>Edupeople</h1>
<img src='assets/img/images.png'/>
<button type="button" class="btn btn-default">Añadir</button>
<button type="button" class="btn btn-default">Buscar</button>
</div>

